header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;

    h1 {
        font-size: 2em;
        color: #333;
        margin: 0;
        font-weight: bold;
    }

    nav ul {
        display: flex;
        list-style: none;

        li {
            padding: 1rem;

            a {
                font-size: 1.1em;
                text-decoration: none;
                color: #181818;
                transition: color 0.3s ease;
            }
            a:hover {
                color: #007bff;
            }

            button {
                background-color: #007bff;
                padding: 0.4rem 1rem;
                color: #fff;
                border-radius: 4px;
                border: none;
                cursor: pointer;
                transition: background-color 0.3s ease;
            }

            button:hover {
                background-color: #0056b3;
            }

            .login-btn {
                background-color: #007bff;
                padding: 0.4rem 1rem;
                color: #fff;
                border-radius: 4px;
                border: none;
                cursor: pointer;
                box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.3);
                transition: background-color 0.3s ease;
            }

            .login-btn:hover {
                background-color: #0056b3;
            }
        }
    }
}