.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;

    .register-box {
        background-color: #fff;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        max-width: 450px;
        width: 100%;

        h1 {
            margin-bottom: 1.2rem;
            color: #333;
        }

        .register-form {
            .form-group {
                margin-bottom: 1.1rem;
                text-align: left;

                label {
                    display: block;
                    margin-bottom: 0.4rem;
                    color: #555;
                }

                input {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    font-size: 0.9em;
                }
            }

            button {
                width: 100%;
                padding: 10px;
                border: none;
                border-radius: 5px;
                background-color: #007bff;
                color: #fff;
                cursor: pointer;
                font-size: 16px;
                transition: background-color 0.3s ease-in-out;

                &:hover {
                    background-color: #0056b3;
                }
            }
        }

        .success-message {
            color: green;
            margin-bottom: 1rem;
        }

        .error-message {
            color: red;
            margin-bottom: 1rem;
        }
    }
}